<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>849150F81C9CCF16003FF5BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8491510F1C9CCF17003FF5BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8491511A1C9CCF17003FF5BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
